body, html {
    margin: 0;
    padding: 0;
}
.header {
    display: flex;
    justify-content: space-between;
    align-items: center;

    max-width: 920px;
    margin: 0 auto;
    padding: 0 20px;

    background-color: orange;
}

.header__input-container {
    position: relative;
    height: 30px;
}

.header__input {
    width: 250px;
    height: 30px;
    padding: 0;
    border: none;
    outline: none;
}

.header__loupe {
    position: absolute;
    right: 10px;
    top: 4px;
}

.header__order-container {
    display: flex;
    align-items: center;
}

.header__order {
    margin-right: 20px;
}

.header__price {
    margin: 0;
}
