body{
    font-family: "Times New Roman", Times, Baskerville, Georgia, serif;
    background-color: #fff;
}
.header{
    width: 1280px;
    height: 84px;
    background-color: #ffffff;
} 
.content{ 
    display: flex;
    margin: 21px 151px;
}
.text{
    font-family: 'Lobster', cursive;
    font-size: 49px;
    line-height: 19px;
    font-weight: 400;
    color: #3cc3b5;
    margin: 21px 151px;

}
.search__field{
    width: 436px;
    height: 33px;
    background-color: #ffffff;
    border: 1px solid #e1e1e1;
}
.img__magnifier{
    width: 22px;
    height: 22px;   
}
.img__basket{

}
.text__prices{

}
